@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Adamina&family=Bakbak+One&display=swap');

.logo-container {
  width: 100%;
  background-color: #003D29;
  padding: 20px;
  display: flex;
  height:285px;
  
   /* Stack items vertically */
  /*align-items: center; /* Center items horizontally */
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-bottom: 20px; /* Add spacing between logo sections */
}

.wp-logo,
.call-logo,
.mail-logo {
  margin: 0;
  padding-right: 10px;
}

.logo img {
  width: 30px;
  height: 30px;
}

.logo-text {
  font-family: 'Adamina';
  color: #F9F8EC;
  font-size: 24px;
  display: inline-block;
  margin-left: 10px;
}

.logo2 {
  display: flex;
  flex-direction: row;
  width: 60%;
  gap: 2px;
  margin-left: auto;
}

.dairy-logo {
   /* Adjust spacing as needed */
  width: 103%;
  display: flex;
  justify-content: center; 
  /* Center the dairy logo horizontally */
  background-color: #003D29;

}
.image-dairy{
    width:60%;
}