@import url("https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&family=Spicy+Rice&display=swap");

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #c9c9c9;
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.landing-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.landing-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Slightly fade the image to make text more readable */
}

.landing-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  padding: 20px;
  box-sizing: border-box;
}

.main-head {
  font-size: 50px;
  font-family: "Spicy Rice";
  color: #003d29;
}

.johal-name {
  font-size: 80px;
  margin-top: 10px;
  font-family: "Rubik Moonrocks";
  color: #003d29;
}

.landing-content button {
  padding: 10px 40px;
  font-size: 30px;
  background-color: #003d29;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0px;
}

.landing-content button:hover {
  background-color: #8bc34a;
}

/* Mobile View */
@media (max-width: 768px) {
  .landing-content {
    padding: 10px;
  }

  .main-head {
    font-size: 30px;
  }

  .johal-name {
    font-size: 50px;
    margin-top: 20px;
  }

  .landing-content button {
    font-size: 20px;
    padding: 15px 30px;
    margin-top: 30px; /* Adjust margin as needed */
  }

  .landing-image img {
    object-fit: cover; /* Ensures the image covers the entire background */
    opacity: 0.5; /* Further fade the image to make the text stand out more */
  }
}
