@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Suez+One&display=swap");

.nav-container {
  background-color: #f9f8ec;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #f9f8ec;
  padding: 5px;
  margin-top: 12px;
}

.nav-bar button {
  background-color: black;
  border-radius: 35px;
  color: #76ff03;
  font-family: "Luckiest Guy";
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.nav-bar button:hover {
  background-color: transparent;
}

.image-container {
  text-align: center; /* Center aligns the text horizontally */
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #dcedc8;
  justify-content: center; /* Center aligns the text vertically */
  align-items: center;
  height: 150%; /* Ensures the container takes full height */
}

.image-text {
  font-size: 26px;
  font-family: "Luckiest Guy";
  margin-bottom: 20px;
}

.image-container img {
  width: 60%; /* Ensures the image takes up 60% of the container's width */
  height: auto; /* Allows the image to scale proportionally */
  max-width: 100%;
}

.o-btn {
  background-color: black;
  border-radius: 35px;
  color: #76ff03;
  font-family: "Luckiest Guy";
  padding: 10px 40px;
  margin-top: 20px;
}

/* Mobile View */
@media (max-width: 768px) {
  .nav-bar {
    flex-direction: row;
    align-items: center;
  }

  .nav-bar button {
    width: 95%; /* Make buttons take up more space horizontally */
    margin-bottom: 10px; /* Add spacing between buttons */
    font-size: 18px; /* Adjust button font size for mobile */
    padding: 8px 16px; /* Adjust padding for mobile */
  }

  .image-text {
    font-size: 20px; /* Reduce text size for mobile */
    margin-bottom: 15px;
  }

  .image-container img {
    width: 200%; /* Increase image width for better visibility on mobile */
  }

  .o-btn {
    font-size: 16px; /* Adjust button font size for mobile */
    padding: 8px 60px; /* Adjust padding for mobile */
    width: 80%; /* Make the button wider */
  }
}
